@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

html, body, #root {
  margin: 0;
  height: 100%;
}

.background {
  background-color: #131516;
  color: whitesmoke;
  display: flex;
  height: 100%;
}

* {
  font-family: "Play";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.navbar > ul {
  display: inline-block;
}

.navbar li {
  text-align: center;
}

.navbar li a {
  margin: 1rem;
}

.main-page {
  display: inline-block;
}

.tab-list {  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}