@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
/*Consider font style similar to the one named "Tomorrow"*/

body::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
      background-size: auto, auto; */
  z-index: 2;
  background-size: 100% 1px, 2px 100%;
  pointer-events: none;
}

html, body, #root {
  margin: 0;
  height: 100%;
}

.background {
  background-color: #131516;
  color: #b1dee2;
  display: flex;
  height: 100%;
}

.weapon-info {
  border: 1px solid rgb(177, 222, 226);
  margin: 1.6rem;
}

/* linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06)); */

* {
  font-family: "Play";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.navbar > ul {
  display: inline-block;
}

.navbar li {
  text-align: center;
}

.navbar li a {
  margin: 1rem;
}

.main-page {
  overflow: auto;
  width: 60rem;
  padding-right: 15px;
  padding-left: 15px;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.card.weapon-card {
  color: rgb(177, 222, 226);
  background-color: #131516;
  border: 1px solid rgb(177, 222, 226);
}

.btn.weapon-btn {
  color: rgb(177, 222, 226);
}

.weapon-row {
  margin: 0rem 2rem 1rem 2rem;
}

.weapon-description {
  margin-top: 3rem;
}



/* .clearfix {
  overflow:auto;
} */