.night-city-img {
  width: 100%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nc-row {
  z-index: -1;
  height: 100%;
  display: flex;
}

.nc-col {
  position: relative;
}

.zone-hover-link {
  position: absolute;
  bottom: 10%;
  right: 10%;
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}

svg:not(:root) {
  width: 27px;
  height: 100%;
  min-height: 100%;
  display: block;
  overflow: visible;
  position: absolute;
}

.outer-nav-art {
  position: relative;
  background-color: #343a40;
  display: flex;
  max-width: 24px;
  min-width: 24px;
  height: 100%;
  font-size: 0;
  justify-content: space-between;
}

svg:not(:root) {
  z-index: 3;
}

#testModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.closeModal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}